// $PrimaryColor : #EFBB43;
$PrimaryColor : #353535;

$SecondColor : #ffffff;
$BorderColor : #9c9c9c;
$GrayBackground : #F1F3F5;


// Fonts Families

$fontFamily : 'Roboto',
sans-serif;
$Raleway : 'Raleway',
sans-serif;


$navBarHeight : 64px;

// Font size

$Font16 : 1em;
$Font24 : 1.5em;
$Font32 : 2em;
$Font40 : 2.5em;
$Font48 : 3em;
